.Data {
  padding-top: 100px;
  .content {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
    .api {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 10px;
      width: 45%;
      height: 200px;
      padding-block: 20px;
      padding-inline: 20px;
      border: 2px solid white;
      border-radius: 10px;
      transition: 0.5s ease-in-out;
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 5px 10px white;
      }
      h2 {
        font-size: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
        font-weight: 500;
      }
      p {
        width: 100%;
        padding-block: 10px;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 10px;
        border-radius: 5px;
        color: gray;
        font-size: clamp(0.625rem, 0.511rem + 0.57vw, 0.938rem);
      }
      button {
        background: transparent;
        color: white;

        border-radius: 5px;
        width: 120px;
        height: 30px;
        border: 2px solid white;
      }
    }
  }
}

@media (max-width: 800px) {
  .Data {
    .content {
      .api {
        gap: 20px;
        width: 100%;
      }
    }
  }
}
