.Header {
  width: 100%;
  height: 80px;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: #000;
  z-index: 99;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    img {
      width: 120px;
      cursor: pointer;
    }
    &__left {
      display: flex;
      align-items: center;
      gap: 40px;
      .link {
        color: white;
        font-size: clamp(0.813rem, 0.699rem + 0.57vw, 1.125rem);
        font-weight: 600;
        border-bottom: 2px solid transparent;
        padding-bottom: 3px;
      }
      .active {
        color: white;
        font-size: clamp(0.813rem, 0.699rem + 0.57vw, 1.125rem);
        font-weight: 600;
        border-bottom: 2px solid white;
        padding-bottom: 3px;
      }
    }
    &__right {
      display: flex;
      align-items: center;
      gap: 30px;
      .language {
        color: white;
        height: 40px;
        font-weight: 600;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: start;
        a {
          font-size: 15px;
          display: flex;
          align-items: center;
          gap: 5px;
        }
        .langBlock {
          position: absolute;
          top: 40px;
          background: white;
          width: 120px;
          border-radius: 5px;
          span {
            width: 100%;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: start;
            color: black;
            padding-left: 10px;
            transition: 0.2s ease-in-out;
            &:hover {
              background: rgba(128, 128, 128, 0.311);
            }
          }
        }
      }
      button {
        background: transparent;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border: none;
        color: white;
        font-size: 15px;
        font-weight: 600;
      }
      a {
        color: white;
        font-size: 18px;
        position: relative;
        span {
          position: absolute;
          top: -15px;
          right: -15px;
          width: 20px;
          height: 20px;
          border-radius: 50px;
          background: red;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
        }
      }
    }
    &__adap {
      display: none;
    }
  }
  .dataModalBg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.519);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    .dataModal {
      width: 500px;
      height: 300px;
      padding: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background: white;
      position: relative;
      gap: 20px;
      border-radius: 10px;
      a {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        color: black;
      }
      input {
        width: 80%;
        height: 40px;
        padding-inline: 10px;
        border-radius: 50px;
        background: transparent;
        border: 2px solid black;
        font-size: 16px;
      }
      button {
        width: 200px;
        height: 40px;
        background: black;
        color: white;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
      }
    }
  }
}

@media (max-width: 900px) {
  .Header {
    .header {
      &__right {
        display: none;
      }
      &__adap {
        display: block;
        a {
          font-size: 30px;
        }
        .block {
          display: flex;
          align-items: start;
          flex-direction: column;
          position: fixed;
          top: 5px;
          right: 5px;
          background: white;
          width: 200px;
          height: auto;
          border-radius: 10px;
          .nav {
            display: none;
          }
          .language {
            color: black;
            height: 40px;
            font-weight: 600;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: start;
            width: 100%;
            a {
              font-size: 18px;
              display: flex;
              align-items: center;
              gap: 5px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: start;
              padding-left: 20px;
              transition: 0.5s ease-in-out;
              width: 100%;
              &:hover {
                background: rgba(128, 128, 128, 0.367);
              }
            }
            .langBlock {
              position: absolute;
              top: 40px;
              background: white;
              width: 120px;
              border-radius: 5px;
              z-index: 99;
              border: 2px solid black;
              span {
                width: 100%;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: start;
                color: black;
                padding-left: 10px;
                transition: 0.2s ease-in-out;
                &:hover {
                  background: rgba(128, 128, 128, 0.311);
                }
              }
            }
          }
          button {
            background: transparent;
            gap: 5px;
            border: none;
            color: black;
            font-size: 18px;
            font-weight: 600;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: start;
            padding-left: 20px;
            transition: 0.5s ease-in-out;
            width: 100%;
            &:hover {
              background: rgba(128, 128, 128, 0.367);
            }
          }
          a {
            color: black;
            font-size: 18px;
            position: relative;
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: 600;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: start;
            padding-left: 20px;
            transition: 0.5s ease-in-out;
            width: 100%;
            &:hover {
              background: rgba(128, 128, 128, 0.367);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .Header {
    .header {
      &__left {
        a {
          display: none;
        }
      }
      &__adap {
        .block {
          .nav {
            display: block;
          }
        }
      }
    }
    .dataModalBg {
      .dataModal {
        width: 100%;
        height: 100%;
        button {
          width: 150px;
        }
      }
    }
  }
}
