.MainWelcome {
  padding: 80px 0;
  .swiper {
    position: relative;
    .content {
      color: white;
      width: 100%;
      height: 600px;
      .bg {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        background: #00080a;
        background: linear-gradient(
          90deg,
          rgba(0, 8, 10, 1) 23%,
          rgba(8, 7, 1, 0) 100%
        );
        padding: 40px;
        .rating_time {
          display: flex;
          align-items: center;
          gap: 10px;
          h4 {
            display: flex;
            align-items: center;
            gap: 5px;
            color: orange;
            text-shadow: 0px 0px 2px orange;
            span {
              font-size: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
            }
          }
          h3 {
            display: flex;
            align-items: center;
            gap: 5px;
            text-shadow: 0px 0px 5px black;
            font-size: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
          }
        }
        h2 {
          font-size: clamp(1.25rem, 0.614rem + 3.18vw, 3rem);
          text-shadow: 0px 0px 5px black;
        }
        p {
          font-size: clamp(0.813rem, 0.699rem + 0.57vw, 1.125rem);
          width: 60%;
          text-shadow: 0px 0px 5px black;
          margin-block: 20px;
        }
        .button {
          background-color: orange;
          color: #000;
          padding: 12px 24px;
          border-radius: 8px;
          font-weight: 600;
          cursor: pointer;
          border: none;
          display: flex;
          align-items: center;
          gap: 10px;
          transition: 0.5s ease-in-out;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
      color: #f3c349;
      width: 40px;
      height: 40px;
    }

    :global(.swiper-button-prev::after),
    :global(.swiper-button-next::after) {
      font-size: 30px;
    }

    :global(.swiper-pagination-bullet) {
      background-color: rgba(255, 255, 255, 0.4);
    }

    :global(.swiper-pagination-bullet-active) {
      background-color: #f3c349;
    }
  }
}

@media (max-width: 900px) {
  .MainWelcome {
    .swiper {
      .content {
        height: 500px;
      }
    }
  }
}
@media (max-width: 700px) {
  .MainWelcome {
    padding: 80px 0 40px 0;
    .swiper {
      .content {
        height: 450px;
        .bg {
          p {
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .MainWelcome {
    .swiper {
      .content {
        height: 450px;
        .bg {
          width: 100%;
          h2 {
            width: 100%;
          }
          p {
            width: 100%;
          }
          button  {
            padding: 10px 10px;
            gap: 0px;
          }
        }
      }
    }
  }
}
