.Footer {
  margin-top: 50px;
  width: 100%;
  height: auto;
  padding-block: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  box-shadow: 0px 0px 5px gray;
  .content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    .main {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 20px;
      img {
        width: 120px;
      }
      h6 {
        font-size: clamp(0.813rem, 0.767rem + 0.23vw, 0.938rem);
        font-weight: 400;
        width: 250px;
      }
    }
    .page {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 10px;
      h3 {
        font-size: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
      }
      h4 {
        font-size: clamp(0.813rem, 0.767rem + 0.23vw, 0.938rem);
        font-weight: 400;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        &:hover {
          color: rgb(0, 119, 255);
        }
      }
      h6 {
        font-size: clamp(0.813rem, 0.767rem + 0.23vw, 0.938rem);
        font-weight: 400;
        width: 250px;
      }
      .target {
        display: flex;
        align-items: center;
        gap: 10px;
        a {
          font-size: 25px;
          color: white;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .Footer {
    .content {
      gap: 40px;
    }
  }
}
