* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  outline: none;
  font-size: 16px;
}
button {
  cursor: pointer;
}

body {
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

textarea {
  outline: none;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  Footer {
    margin-top: 0 auto;
  }
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 40px;
}

@media (max-width: 600px) {
  .container {
    padding-inline: 20px;
  }
}
